@{
    ViewBag.Title = "About";
}
<style>
    h2 {
        font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
        font-size: 250%; /* Размер шрифта в процентах */
    }

   h3 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 18pt; /* Размер шрифта в пунктах */
    }
   h1 {
        font-family: Freestyle Script, sans-serif;
        font-size: 60pt; /* Размер шрифта в пунктах */
    }
</style>
<h2>Данное веб приложение разработано - для дипломного проекта  → НГАЭК</h2>
<h3>С помощью этой программы вы можете легко собрать компьютер, а в случае, если вы решите приобристи собранный вами компьютер, оставте заявку с вашими ФИО и контактным номером. Наши операторы свяжутся с вами в ближайшее время. </h3>

<h2>Руководство пользователя</h2>
<ol>
    <h3> <li> Для начала выберите любой из пунктов главной конфигурации</li></h3>
    <img src="~/Content/1.png" />
    <h3> <li> В отобразившимся окне выберите нужную вам подкатегорию (марка)</li></h3>
    <img src="~/Content/2.PNG" />
    <h3> <li> Теперь выберите любую запчасть из данного списка</li></h3>
    <img src="~/Content/3.PNG" />
    <h3> <li> По мере нажатия на запчасти, вы могли обратить внимание, что нажатая деталь отобразилась в корзине вместе с ее ценой</li></h3>
    <img src="~/Content/5.PNG" /> <br />
    <h3> В случаии неверного или случайного выбора, имееться функция удаления <br /></h3>
    <img src="~/Content/4.PNG" />
    <h3> Или полного очищения списка <br /></h3>
    <img src="~/Content/6.PNG" />
    <h3> <li>Заметьте , что не все запчасти могут "ужиться" вместе, по этому разработан алгоритм, который не позволяет выбрать не совместимые запчасти</li></h3>
    <img src="~/Content/7.PNG" />
    <h3> <li> После выбора всех необходимых вам запчастей, вы можете увидить снизу, сумму за которую вы можете приобристи данные запчасти.Для этого необходимо нажать "Заказать"</li></h3>
    <img src="~/Content/8.PNG" />
    <h3> <li> В появившися окне, вам необходимо ввести ваше ФИО и контактный номер телефона</li></h3>
    <img src="~/Content/9.PNG" />
    <h3> <li> В этот же момент у администратора, сразу же появляеться уведомление, что вы решили заказать компьютер → собранный вами.</li></h3>
    <img src="~/Content/10.PNG" />
    <center> <h1>Finita La Commedia</h1></center>
</ol>